.slideshow {
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.5);
  background: rgba(25, 25, 30, 0.8);
 
}

.slideshow img {
  width: 90%; /* Reduced from 100% */
  height: 90%; /* Reduced from 100% */
  object-fit: contain; /* Changed from cover to maintain aspect ratio */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1.1) rotate(-5deg); /* Center the image */
  opacity: 0;
  transition: all 0.5s ease-in-out;
}

.slideshow .active {
  z-index: 1;
  opacity: 1;
  transform: translate(-50%, -50%) scale(1) rotate(0); /* Center the active image */
}